.imgEncabezado {
  background-image: url(../multi/subestacion12.jpg);
  height: 900px;
  color: white; }

.navbar {
  position: sticky;
  top: 0;
  z-index: 100; }

.sectionUno {
  margin: 20px;
  padding: 30px;
  padding-left: 8%;
  justify-content: center;
  justify-items: center;
  align-items: center; }

.textoGaleria {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin: 10px; }

.textoIndex__uno {
  height: 150px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  margin: 15px;
  padding: 15px; }

.bloqueDos__titulo {
  margin: 5px;
  padding: 10px;
  color: black;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px; }

.bloqueTres__tituloDos {
  margin: 5px;
  padding: 10px;
  color: black;
  background-color: #d9d9e0;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.bloqueCuatro__card {
  margin: 5px;
  padding: 10px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.bloqueCuatro__bajada {
  margin: 5px;
  padding: 10px;
  height: 500px;
  background-image: url(./multi/IMG00101-20110320-1050.jpg);
  color: black;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.fondoServicio {
  height: 650px;
  margin: 10px;
  padding: 10px;
  background-image: url(../multi/fondo-servicio.jpg);
  color: white;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center; }

.mainServicio {
  height: 200px;
  padding: 15px;
  margin: 15px; }

.mainServicioDos {
  text-align: center;
  justify-content: center;
  align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.fondoGaleria {
  background-color: #d9d9e0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 0.9fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "texto1 texto1 foto1 foto1" "foto2 foto2 texto2 texto2" "texto3 texto3 foto3 foto3"; }
  .grid-container .texto1 {
    grid-area: texto1; }
  .grid-container .foto1 {
    grid-area: foto1; }
  .grid-container .foto2 {
    grid-area: foto2; }
  .grid-container .texto2 {
    grid-area: texto2; }
  .grid-container .texto3 {
    grid-area: texto3; }
  .grid-container .foto3 {
    grid-area: foto3; }

.contacto {
  height: 1000px;
  padding: 5px;
  margin: 5px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-image: url(../multi/fondo-servicio.jpg); }

.footer {
  height: 200px;
  background-color: #d9d9e0;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: black; }

.sectionFinal {
  color: black;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center; }

@media only screen and (max-width: 480px) {
  .textoIndex__uno {
    height: auto; }
  .imgEncabezado {
    height: auto; }
  .bloqueDos {
    height: auto; }
  .bloqueTres {
    height: auto; }
  .bloqueCuatro {
    height: auto; }
  .contacto {
    height: auto; }
  .fondoServicio {
    height: auto; }
  .mainServicio {
    height: auto; }
  .mainServicioDos {
    height: auto; }
  .textoGaleria {
    height: auto; }
  .grid-container {
    height: auto; } }
